@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    background-color: rgb(65, 65, 185);
    
    
        
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

h1 {
    font-family:"Roboto Mono";
    font-size: 40px;
    

}

@media (min-width:600px) and (max-width:900px) {
    h1 {
        font-size: 32px;
    }
}

@media (min-width:600px) {
    h1 {
        font-size: 24px;
    }
}